In [ ]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 
import matplotlib.colors as mcolors
import random
import math
import time
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import PolynomialFeatures
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error, mean_absolute_error
import datetime
import operator 
plt.style.use('fivethirtyeight')
%matplotlib inline

In [ ]:
confirmed_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_confirmed_global.csv')

In [ ]:
confirmed_cases.head()

  Province/State Country/Region       Lat  ...  7/23/20  7/24/20  7/25/20
0            NaN    Afghanistan  33.93911  ...    35928    35981    36036
1            NaN        Albania  41.15330  ...     4466     4570     4637
2            NaN        Algeria  28.03390  ...    25484    26159    26764
3            NaN        Andorra  42.50630  ...      889      897      897
4            NaN         Angola -11.20270  ...      851      880      916

[5 rows x 190 columns]

In [ ]:
deaths_reported = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_deaths_global.csv')

In [ ]:
deaths_reported.head()

  Province/State Country/Region       Lat  ...  7/23/20  7/24/20  7/25/20
0            NaN    Afghanistan  33.93911  ...     1211     1225     1248
1            NaN        Albania  41.15330  ...      123      128      134
2            NaN        Algeria  28.03390  ...     1124     1136     1146
3            NaN        Andorra  42.50630  ...       52       52       52
4            NaN         Angola -11.20270  ...       33       35       39

[5 rows x 190 columns]

In [ ]:

recovered_cases = pd.read_csv('https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/time_series_covid19_recovered_global.csv')

In [ ]:
recovered_cases.head()

  Province/State Country/Region       Lat  ...  7/23/20  7/24/20  7/25/20
0            NaN    Afghanistan  33.93911  ...    24550    24602    24793
1            NaN        Albania  41.15330  ...     2523     2608     2637
2            NaN        Algeria  28.03390  ...    17369    17369    18076
3            NaN        Andorra  42.50630  ...      803      803      803
4            NaN         Angola -11.20270  ...      236      241      242

[5 rows x 190 columns]

In [ ]:
# Fetching all the columns from confirmed dataset
cols = confirmed_cases.keys()
date = []
i=0
for col in confirmed_cases:
  if i>3:
    date.append(col)
  i=i+1
print(date)

['1/22/20', '1/23/20', '1/24/20', '1/25/20', '1/26/20', '1/27/20', '1/28/20', '1/29/20', '1/30/20', '1/31/20', '2/1/20', '2/2/20', '2/3/20', '2/4/20', '2/5/20', '2/6/20', '2/7/20', '2/8/20', '2/9/20', '2/10/20', '2/11/20', '2/12/20', '2/13/20', '2/14/20', '2/15/20', '2/16/20', '2/17/20', '2/18/20', '2/19/20', '2/20/20', '2/21/20', '2/22/20', '2/23/20', '2/24/20', '2/25/20', '2/26/20', '2/27/20', '2/28/20', '2/29/20', '3/1/20', '3/2/20', '3/3/20', '3/4/20', '3/5/20', '3/6/20', '3/7/20', '3/8/20', '3/9/20', '3/10/20', '3/11/20', '3/12/20', '3/13/20', '3/14/20', '3/15/20', '3/16/20', '3/17/20', '3/18/20', '3/19/20', '3/20/20', '3/21/20', '3/22/20', '3/23/20', '3/24/20', '3/25/20', '3/26/20', '3/27/20', '3/28/20', '3/29/20', '3/30/20', '3/31/20', '4/1/20', '4/2/20', '4/3/20', '4/4/20', '4/5/20', '4/6/20', '4/7/20', '4/8/20', '4/9/20', '4/10/20', '4/11/20', '4/12/20', '4/13/20', '4/14/20', '4/15/20', '4/16/20', '4/17/20', '4/18/20', '4/19/20', '4/20/20', '4/21/20', '4/22/20', '4/23/20', '4/24/20', '4/25/20', '4/26/20', '4/27/20', '4/28/20', '4/29/20', '4/30/20', '5/1/20', '5/2/20', '5/3/20', '5/4/20', '5/5/20', '5/6/20', '5/7/20', '5/8/20', '5/9/20', '5/10/20', '5/11/20', '5/12/20', '5/13/20', '5/14/20', '5/15/20', '5/16/20', '5/17/20', '5/18/20', '5/19/20', '5/20/20', '5/21/20', '5/22/20', '5/23/20', '5/24/20', '5/25/20', '5/26/20', '5/27/20', '5/28/20', '5/29/20', '5/30/20', '5/31/20', '6/1/20', '6/2/20', '6/3/20', '6/4/20', '6/5/20', '6/6/20', '6/7/20', '6/8/20', '6/9/20', '6/10/20', '6/11/20', '6/12/20', '6/13/20', '6/14/20', '6/15/20', '6/16/20', '6/17/20', '6/18/20', '6/19/20', '6/20/20', '6/21/20', '6/22/20', '6/23/20', '6/24/20', '6/25/20', '6/26/20', '6/27/20', '6/28/20', '6/29/20', '6/30/20', '7/1/20', '7/2/20', '7/3/20', '7/4/20', '7/5/20', '7/6/20', '7/7/20', '7/8/20', '7/9/20', '7/10/20', '7/11/20', '7/12/20', '7/13/20', '7/14/20', '7/15/20', '7/16/20', '7/17/20', '7/18/20', '7/19/20', '7/20/20', '7/21/20', '7/22/20', '7/23/20', '7/24/20', '7/25/20']

In [ ]:
# Extracting the date columns
confirmed = confirmed_cases.loc[:, cols[4]:cols[-1]]
deaths = deaths_reported.loc[:, cols[4]:cols[-1]]
recoveries = recovered_cases.loc[:, cols[4]:cols[-1]]

In [ ]:
confirmed

     1/22/20  1/23/20  1/24/20  1/25/20  ...  7/22/20  7/23/20  7/24/20  7/25/20
0          0        0        0        0  ...    35727    35928    35981    36036
1          0        0        0        0  ...     4358     4466     4570     4637
2          0        0        0        0  ...    24872    25484    26159    26764
3          0        0        0        0  ...      889      889      897      897
4          0        0        0        0  ...      812      851      880      916
..       ...      ...      ...      ...  ...      ...      ...      ...      ...
261        0        0        0        0  ...      747      749      860      862
262        0        0        0        0  ...     1640     1654     1674     1674
263        0        0        0        0  ...      337      340      340      340
264        0        0        0        0  ...     7015     7060     7104     7150
265        0        0        0        0  ...      359      359      359      419

[266 rows x 186 columns]

In [ ]:
dates = confirmed.keys()

In [ ]:
us_cases = []
us_deaths = []
mortality_rate = []
recovery_rate = []
us_recoveries = []

for i in dates:
  confirmed_sum = confirmed_cases[confirmed_cases['Country/Region']=='US'][i].sum()
  death_sum = deaths_reported[deaths_reported['Country/Region']=='US'][i].sum()
  recovery_sum = recovered_cases[recovered_cases['Country/Region']=='US'][i].sum()

  #mortality rate
  mortality_rate.append(death_sum/confirmed_sum*100)
  #recovery rate
  recovery_rate.append(recovery_sum/confirmed_sum*100)
  #total cases in US
  us_cases.append(confirmed_cases[confirmed_cases['Country/Region']=='US'][i].sum())
  #total deaths in US
  us_deaths.append(deaths_reported[deaths_reported['Country/Region']=='US'][i].sum())
  #total recoveries in US
  us_recoveries.append(recovered_cases[recovered_cases['Country/Region']=='US'][i].sum())

In [ ]:
mortality_rate

[0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 0.0,
 4.166666666666666,
 3.3333333333333335,
 11.320754716981133,
 9.58904109589041,
 10.576923076923077,
 6.896551724137931,
 6.306306306306306,
 5.044510385756676,
 4.656319290465632,
 4.238921001926782,
 3.938115330520394,
 2.9756537421100093,
 2.754644458680333,
 2.410755679184052,
 2.0209059233449476,
 2.358490566037736,
 2.224770642201835,
 2.133203061390653,
 2.1083323987888303,
 1.8718655082291444,
 1.8584116227732432,
 1.765730880929332,
 1.780160540268357,
 1.7879133409350056,
 1.886827321111768,
 2.018015290288396,
 2.076322079651806,
 2.2488169267472333,
 2.40355864306253,
 2.521865373039198,
 2.692570079959682,
 2.96994552892054,
 3.196003828108587,
 3.4471199051551453,
 3.5245365163968514,
 3.5618455338893575,
 3.6940158128760294,
 3.850060591206786,
 4.132495125530161,
 4.320131444822498,
 4.443611904177486,
 4.564980329073809,
 4.692889165841176,
 4.770341513902415,
 4.877168437281394,
 5.0551998922608465,
 5.224194089414302,
 5.295604776533308,
 5.4211135106182935,
 5.537443673263165,
 5.509304247231863,
 5.546141714600697,
 5.674283779676221,
 5.769134319375416,
 5.822396763716173,
 5.822946818400102,
 5.794570533008655,
 5.762412262859338,
 5.775578390345747,
 5.854549106958222,
 5.940339661642241,
 5.990302675480834,
 5.974274255553477,
 5.957708639958311,
 5.920828917770234,
 5.9189957486196105,
 5.991453903966908,
 6.068047152595768,
 6.086051391737335,
 6.091711308588399,
 6.084971696390529,
 6.060712818683081,
 6.051019910389206,
 6.070819807555819,
 6.105106331163017,
 6.111283975087921,
 6.119209648957542,
 6.097977923219693,
 6.070729178666053,
 6.034321714752317,
 6.054971179209953,
 6.063084089671534,
 6.043248646902011,
 6.0314436985477915,
 6.019469161152939,
 5.980418933330265,
 5.943135282707091,
 5.917250141046186,
 5.942270468448471,
 5.9322298382901995,
 5.915838255172775,
 5.889004920150134,
 5.856405672983074,
 5.842952216898737,
 5.832726489000062,
 5.823353067733717,
 5.810879216983387,
 5.784841381433021,
 5.751881904186513,
 5.7226248090641185,
 5.69756624706581,
 5.692879279483129,
 5.679545120572438,
 5.658669259992806,
 5.628832993490438,
 5.595644725438193,
 5.55690839136999,
 5.523725819833815,
 5.5017212174964945,
 5.4714347128679,
 5.434122328566623,
 5.387390054526746,
 5.3362083031825085,
 5.285552819372005,
 5.233310686359011,
 5.190520432240209,
 5.14618292446439,
 5.161460249126966,
 5.0913171505061285,
 5.024182763611245,
 4.9555976318737,
 4.89105512555063,
 4.833535249016277,
 4.766541597893725,
 4.697326707144913,
 4.630600484159291,
 4.564519518055667,
 4.49513753128541,
 4.437383624475789,
 4.388374479072446,
 4.331032288287651,
 4.274929713343336,
 4.209418417151197,
 4.152190823879172,
 4.090994637727379,
 4.029716805725774,
 3.976775672038545,
 3.927374930763994,
 3.868901728867049,
 3.8178969574103236,
 3.775354561726221,
 3.724471677011391,
 3.677623956333219,
 3.6448655894743833,
 3.6098647874964014,
 3.576048029917679,
 3.539426207364759,
 3.5054874065975254]

In [ ]:
def daily_increase(data):
    d = [] 
    for i in range(len(data)):
        if i == 0:
            d.append(data[0])
        else:
            d.append(data[i]-data[i-1])
    return d

In [ ]:
#daily increase in cases
us_daily_increase = daily_increase(us_cases)

In [ ]:
us_daily_increase

[1,
 0,
 1,
 0,
 3,
 0,
 0,
 0,
 0,
 2,
 1,
 0,
 3,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 2,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 8,
 6,
 23,
 20,
 31,
 70,
 48,
 115,
 114,
 68,
 192,
 398,
 452,
 596,
 713,
 98,
 1392,
 1781,
 2776,
 5240,
 5322,
 6346,
 7936,
 10089,
 10262,
 11943,
 18036,
 18185,
 19793,
 19136,
 21502,
 26017,
 25481,
 30405,
 31937,
 33152,
 27874,
 29642,
 30777,
 31694,
 34756,
 33501,
 30026,
 28553,
 25291,
 27065,
 29096,
 31298,
 32724,
 28341,
 26038,
 27341,
 25602,
 28104,
 34195,
 36291,
 32921,
 27689,
 22465,
 24535,
 27520,
 29629,
 34162,
 29195,
 25587,
 22475,
 24185,
 25256,
 27882,
 27178,
 25733,
 19764,
 18878,
 22190,
 20958,
 27617,
 25300,
 25101,
 19004,
 21769,
 20449,
 23807,
 25355,
 24141,
 21823,
 20813,
 18991,
 18883,
 18282,
 22815,
 24504,
 24450,
 19910,
 17355,
 20895,
 19958,
 21351,
 25224,
 22732,
 17731,
 17415,
 18127,
 20794,
 22950,
 25330,
 25556,
 19824,
 19660,
 23705,
 25559,
 27809,
 31480,
 32749,
 26439,
 30536,
 35188,
 34935,
 39873,
 45255,
 42705,
 39605,
 40804,
 45746,
 51174,
 54461,
 53312,
 45880,
 49883,
 44953,
 60021,
 58601,
 63247,
 67791,
 60188,
 59017,
 59215,
 67417,
 67328,
 77255,
 71558,
 63698,
 61847,
 61417,
 64534,
 70910,
 68695,
 73715,
 65490]

In [ ]:
#confirmed cases in US
us_cases

[1,
 1,
 2,
 2,
 5,
 5,
 5,
 5,
 5,
 7,
 8,
 8,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 11,
 12,
 12,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 13,
 15,
 15,
 15,
 15,
 15,
 15,
 16,
 16,
 24,
 30,
 53,
 73,
 104,
 174,
 222,
 337,
 451,
 519,
 711,
 1109,
 1561,
 2157,
 2870,
 2968,
 4360,
 6141,
 8917,
 14157,
 19479,
 25825,
 33761,
 43850,
 54112,
 66055,
 84091,
 102276,
 122069,
 141205,
 162707,
 188724,
 214205,
 244610,
 276547,
 309699,
 337573,
 367215,
 397992,
 429686,
 464442,
 497943,
 527969,
 556522,
 581813,
 608878,
 637974,
 669272,
 701996,
 730337,
 756375,
 783716,
 809318,
 837422,
 871617,
 907908,
 940829,
 968518,
 990983,
 1015518,
 1043038,
 1072667,
 1106829,
 1136024,
 1161611,
 1184086,
 1208271,
 1233527,
 1261409,
 1288587,
 1314320,
 1334084,
 1352962,
 1375152,
 1396110,
 1423727,
 1449027,
 1474128,
 1493132,
 1514901,
 1535350,
 1559157,
 1584512,
 1608653,
 1630476,
 1651289,
 1670280,
 1689163,
 1707445,
 1730260,
 1754764,
 1779214,
 1799124,
 1816479,
 1837374,
 1857332,
 1878683,
 1903907,
 1926639,
 1944370,
 1961785,
 1979912,
 2000706,
 2023656,
 2048986,
 2074542,
 2094366,
 2114026,
 2137731,
 2163290,
 2191099,
 2222579,
 2255328,
 2281767,
 2312303,
 2347491,
 2382426,
 2422299,
 2467554,
 2510259,
 2549864,
 2590668,
 2636414,
 2687588,
 2742049,
 2795361,
 2841241,
 2891124,
 2936077,
 2996098,
 3054699,
 3117946,
 3185737,
 3245925,
 3304942,
 3364157,
 3431574,
 3498902,
 3576157,
 3647715,
 3711413,
 3773260,
 3834677,
 3899211,
 3970121,
 4038816,
 4112531,
 4178021]

In [ ]:
#daily deaths report
us_daily_death = daily_increase(us_deaths)
us_daily_death

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 5,
 1,
 4,
 1,
 2,
 3,
 4,
 1,
 6,
 5,
 10,
 9,
 6,
 12,
 27,
 34,
 57,
 77,
 97,
 94,
 145,
 183,
 237,
 312,
 413,
 554,
 634,
 627,
 820,
 1224,
 1241,
 1586,
 1315,
 1284,
 1439,
 1668,
 2309,
 2116,
 2075,
 2093,
 2046,
 1771,
 1828,
 2404,
 2549,
 2113,
 2614,
 2386,
 1229,
 1795,
 2457,
 2389,
 2437,
 2118,
 1650,
 1293,
 1425,
 2219,
 2506,
 2296,
 1869,
 1556,
 1096,
 1309,
 2307,
 2458,
 1919,
 1727,
 1479,
 879,
 1013,
 1615,
 1751,
 1774,
 1661,
 1223,
 752,
 770,
 1551,
 1568,
 1223,
 1269,
 1121,
 608,
 513,
 685,
 1509,
 1182,
 1166,
 969,
 586,
 772,
 1033,
 990,
 1009,
 970,
 680,
 451,
 505,
 940,
 917,
 881,
 822,
 750,
 298,
 391,
 839,
 751,
 704,
 672,
 610,
 255,
 406,
 837,
 757,
 2422,
 605,
 489,
 241,
 350,
 721,
 673,
 698,
 639,
 247,
 271,
 325,
 1195,
 820,
 990,
 811,
 676,
 428,
 361,
 900,
 949,
 943,
 908,
 853,
 415,
 491,
 1096,
 1195,
 1114,
 1130,
 900]

In [ ]:
#daily recovery report
us_daily_recovery = daily_increase(us_recoveries)
us_daily_recovery

[0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 3,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 2,
 0,
 0,
 0,
 1,
 0,
 0,
 1,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 1,
 0,
 4,
 0,
 0,
 0,
 5,
 0,
 88,
 16,
 26,
 29,
 2,
 0,
 170,
 13,
 320,
 188,
 203,
 1593,
 2979,
 1380,
 1450,
 527,
 706,
 4945,
 2796,
 2133,
 2182,
 1796,
 1851,
 3380,
 2480,
 1718,
 10494,
 4281,
 4333,
 2607,
 3842,
 6295,
 5497,
 1992,
 2875,
 2162,
 2837,
 18876,
 1293,
 6616,
 4436,
 4512,
 4784,
 33227,
 10068,
 11367,
 4770,
 7028,
 2611,
 119,
 5126,
 3957,
 13541,
 3635,
 16564,
 -2446,
 13143,
 2984,
 4333,
 17629,
 3889,
 10913,
 6214,
 4920,
 4106,
 51717,
 11104,
 5497,
 12421,
 5745,
 6606,
 8483,
 6455,
 10015,
 28297,
 13473,
 5637,
 15390,
 5744,
 6704,
 9143,
 5518,
 12155,
 6333,
 8649,
 6788,
 7094,
 9220,
 5210,
 14518,
 7169,
 8688,
 6924,
 7600,
 10745,
 4673,
 18065,
 7350,
 8613,
 7401,
 7247,
 8499,
 5856,
 20039,
 15428,
 9363,
 51976,
 8434,
 103921,
 12438,
 17385,
 12328,
 16986,
 15649,
 14074,
 12391,
 10750,
 25613,
 17159,
 26784,
 14763,
 16559,
 15516,
 8401,
 28966,
 21931,
 28831,
 22420,
 28355,
 17790]

In [ ]:

dataset = pd.DataFrame({'date':date,'deaths':us_deaths,'recovery':us_recoveries,'daily_cases_increase':us_daily_increase,'daily_recovery':us_daily_recovery,'daily_death':us_daily_death,'mortality_rate':mortality_rate,'recovery_rate':recovery_rate,'Confirmed_cases':us_cases,})
dataset.to_csv('final_dataset.csv',index=False)

In [ ]:
dataset=pd.read_csv('final_dataset.csv')

In [ ]:
dataset.head(10)
# training_set = dataset.iloc[:,1:8].values

      date  deaths  recovery  ...  mortality_rate  recovery_rate  Confirmed_cases
0  1/22/20       0         0  ...             0.0            0.0                1
1  1/23/20       0         0  ...             0.0            0.0                1
2  1/24/20       0         0  ...             0.0            0.0                2
3  1/25/20       0         0  ...             0.0            0.0                2
4  1/26/20       0         0  ...             0.0            0.0                5
5  1/27/20       0         0  ...             0.0            0.0                5
6  1/28/20       0         0  ...             0.0            0.0                5
7  1/29/20       0         0  ...             0.0            0.0                5
8  1/30/20       0         0  ...             0.0            0.0                5
9  1/31/20       0         0  ...             0.0            0.0                7

[10 rows x 9 columns]

In [ ]:
# training_set
# import random
# random.shuffle(training_set)
# X_test = training_set[-20:]
# training_set = training_set[:-20]
# print(training_set.shape)
# # print(X_test)
# X_test_final = []
# j=60
# for i in range (0,20):
#   X_test_final.append(X_test[i:j,0])
#   j=j+1

In [ ]:
# from sklearn.preprocessing import MinMaxScaler
# sc = MinMaxScaler(feature_range = (0, 1))
# training_set_scaled = sc.fit_transform(training_set)
# print(training_set_scaled.shape)

In [ ]:
# X_train = []
# y_train = []
# for i in range(60, 166):
#     X_train.append(training_set_scaled[i-60:i, 0])
#     y_train.append(training_set_scaled[i, 0])
    
#     # X_train.append(training_set[i-60:i, 0])
#     # y_train.append(training_set[i, 0])
# X_train, y_train = np.array(X_train), np.array(y_train)
# X_test_final = np.array(X_test_final)
# X_train = np.reshape(X_train, (X_train.shape[0], X_train.shape[1], 1))
# X_test_final = np.reshape(X_test_final, (X_test_final.shape[0],X_test_final.shape[1],1))
# x_val = X_train[-10:]
# y_val = y_train[-10:]
# X_train = X_train[:-10]
# y_train = y_train[:-10]
# # print(X_train)

In [ ]:
# import torch

# import os
# import numpy as np
# import pandas as pd
# from tqdm import tqdm
# import seaborn as sns
# from pylab import rcParams
# import matplotlib.pyplot as plt
# from matplotlib import rc
# from sklearn.preprocessing import MinMaxScaler
# from pandas.plotting import register_matplotlib_converters
# from torch import nn, optim

# %matplotlib inline

In [ ]:
# test_data_size = 14

# train_data = dataset[:-test_data_size]
# test_data = dataset[-test_data_size:]

# train_data.shape

In [ ]:
# from sklearn.preprocessing import MinMaxScaler
# sc = MinMaxScaler(feature_range = (0, 1))
# train_data = sc.fit_transform(train_data)
# print(train_data.shape)

In [ ]:
# from sklearn.preprocessing import MinMaxScaler
# sc = MinMaxScaler(feature_range = (0, 1))
# test_data = sc.fit_transform(test_data)
# print(test_data.shape)

In [ ]:
# def create_sequences(data, seq_length):
#     xs = []
#     ys = []

#     for i in range(len(data)-seq_length-1):
#         x = data[i:(i+seq_length)]
#         y = data[i+seq_length]
#         xs.append(x)
#         ys.append(y)

#     return np.array(xs), np.array(ys)

In [ ]:
# seq_length = 5
# # X_train = train_data[:,:-1]
# # y_train = train_data[:,-1]
# # X_test = test_data[:,test_data.columns!='Confirmed_cases']
# # y_test = test_data[:,-1]
# X_train, y_train = create_sequences(train_data, seq_length)
# X_test, y_test = create_sequences(test_data, seq_length)
# # X_train = np.array(X_train)
# # y_train = np.array(y_train)
# # X_test = np.array(X_test)
# # y_test = np.array(y_test)

# X_train = torch.from_numpy(X_train).float()
# y_train = torch.from_numpy(y_train).float()

# X_test = torch.from_numpy(X_test).float()
# y_test = torch.from_numpy(y_test).float()

In [ ]:
# X_train[:2]

In [ ]:
# y_train[:-2]

In [ ]:
# class CoronaVirusPredictor(nn.Module):

#   def __init__(self, n_features, n_hidden, seq_len, n_layers=2):
#     super(CoronaVirusPredictor, self).__init__()

#     self.n_hidden = n_hidden
#     self.seq_len = seq_len
#     self.n_layers = n_layers

#     self.lstm = nn.LSTM(
#       input_size=n_features,
#       hidden_size=n_hidden,
#       num_layers=n_layers,
#       dropout=0.5
#     )

#     self.linear = nn.Linear(in_features=n_hidden, out_features=1)

#   def reset_hidden_state(self):
#     self.hidden = (
#         torch.zeros(self.n_layers, self.seq_len, self.n_hidden),
#         torch.zeros(self.n_layers, self.seq_len, self.n_hidden)
#     )

#   def forward(self, sequences):
#     lstm_out, self.hidden = self.lstm(
#       sequences.view(len(sequences), self.seq_len, -1),
#       self.hidden
#     )
#     last_time_step = \
#       lstm_out.view(self.seq_len, len(sequences), self.n_hidden)[-1]
#     y_pred = self.linear(last_time_step)
#     return y_pred

In [ ]:
# def train_model(
#   model, 
#   train_data, 
#   train_labels, 
#   test_data=None, 
#   test_labels=None
# ):
#   loss_fn = torch.nn.MSELoss(reduction='sum')

#   optimiser = torch.optim.Adam(model.parameters(), lr=1e-3)
#   num_epochs = 60

#   train_hist = np.zeros(num_epochs)
#   test_hist = np.zeros(num_epochs)

#   for t in range(num_epochs):
#     model.reset_hidden_state()

#     y_pred = model(X_train)

#     loss = loss_fn(y_pred.float(), y_train)

#     if test_data is not None:
#       with torch.no_grad():
#         y_test_pred = model(X_test)
#         test_loss = loss_fn(y_test_pred.float(), y_test)
#       test_hist[t] = test_loss.item()

#       if t % 10 == 0:  
#         print(f'Epoch {t} train loss: {loss.item()} test loss: {test_loss.item()}')
#     elif t % 10 == 0:
#       print(f'Epoch {t} train loss: {loss.item()}')

#     train_hist[t] = loss.item()
    
#     optimiser.zero_grad()

#     loss.backward()

#     optimiser.step()
  
#   return model.eval(), train_hist, test_hist

In [ ]:
# model = CoronaVirusPredictor(
#   n_features=1, 
#   n_hidden=512, 
#   seq_len=seq_length, 
#   n_layers=2
# )
# model, train_hist, test_hist = train_model(
#   model, 
#   X_train, 
#   y_train, 
#   X_test, 
#   y_test
# )